// Primary colours
$color-dark-primary: #323232;
$color-primary: #0095ff;
$color-light-primary: #afafaf;
$color-white: #fff;

// Secondary colours
$color-dark-secondary: #000;
$color-secondary: #0065ad;
$color-light-secondary: #e1e1e1;
$color-white-secondary: #fafafa;

// Breakpoints
$tablet-width: 768px;
$desktop-width: 1280px;
