@use "../../styles/partials/variables" as *;

.comment {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid $color-light-secondary;

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
  }

  &__name {
    font-size: 0.75rem;
    color: $color-dark-primary;
  }

  &__date {
    color: $color-light-primary;
    font-size: 0.75rem;
  }

  &__text {
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: $color-dark-primary;
  }

  &__avatar {
    background-color: $color-light-secondary;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
}
