@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins.scss" as *;

.comment {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid $color-light-secondary;

  @include tablet {
    padding: 2rem 0;
    margin: 0 1rem;
  }

  @include desktop {
    padding: 1rem 1rem 1rem 0;
    margin-left: 8rem;
    margin-right: 0;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &__right {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0.5rem;
  }

  &__name {
    font-size: 0.75rem;
    color: $color-dark-primary;

    @include tablet {
      font-size: 0.875rem;
    }
  }

  &__date {
    color: $color-light-primary;
    font-size: 0.75rem;

    @include tablet {
      font-size: 0.875rem;
    }
  }

  &__text {
    font-size: 0.75rem;
    line-height: 1.125rem;
    color: $color-dark-primary;
    padding-bottom: 0.5rem;

    @include tablet {
      font-size: 0.875rem;
      line-height: 1.375rem;
    }
  }

  &__delete-btn {
    height: 2rem;
    width: 2rem;
    margin-left: auto;
    align-self: flex-end;
    border: 1px solid $color-light-secondary;
    border-radius: 4px;
    background-color: $color-white;

    &:hover {
      background-color: rgb(246, 168, 168);
      cursor: pointer;
    }

    &:active {
      transform: scale(0.98);
    }
  }

  &__avatar {
    background-color: $color-light-secondary;
    border-radius: 50%;
    height: 40px;
    width: 40px;
  }
}
