@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.video-player {
  width: 100%;
  max-height: 12rem;
  background-color: $color-dark-secondary;

  @include tablet {
    max-height: 25rem;
  }

  @include desktop {
    max-height: 30rem;
  }
}
