@use "../../styles/partials/mixins.scss" as *;

.video-player {
  width: 100%;
  max-height: 12rem;
  background-color: black;

  @include tablet {
    max-height: 25rem;
  }

  @include desktop {
    max-height: 30rem;
  }
}
